<head>
  <link rel="icon" href="/img/ez.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/ez.ico">
</head>
<link rel="stylesheet" href="/css/css.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<div id="mySidebar" class="sidebar border-bottom">
  <div class="left-logo border-bottom">
      <a href="/" class="left-logo">
      <img src="/img/ez.jpg" class="logo">
      <h4>ทีมงานez</h4>
      </a>
      <a class="closebtn close" onclick="closeNav()">×</a>
  </div>
    <!-- 2 -->
    <div class="p-3">
      <a class="btn btn-outline-light form-control mb-2" href="/">หน้าหลัก</a>
      <!-- <a class="btn btn-outline-light form-control mb-2" href="#">ผลงาน</a> -->
    </div>
  <!-- 3 -->
    <!-- <div class="text-center justify-self-end">
      <p class="text-white">@passapol.sutatam@gmail.com</p>
    </div> -->
</div>

<nav class="skicky-top p-1 shadow">
  <div class="d-flex justify-content-between">
    <a class="btn" href="#" onclick="openNav()">
    <div style="display: flex;justify-content: center;align-items: center;">
      <img style="width: 30px;height: 30px;" src="/img/Menu_icon_icon-icons.com_71858.png" >
      ทีมงานez
    </div>
    </a>
  </div>
</nav>
<script>
function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    // document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    // document.getElementById("main").style.marginLeft = "0";
}
</script>