<%- include('navbar',{sessions:sessions}) %>
<div class="bg-dark text-white">
    <div class="p-3 border">
        <p>โจทย์ที่ 1: คำนวณเกรด
            ให้นักเรียนเขียนโปรแกรมเพื่อคำนวณเกรดของนักเรียนจากคะแนนที่ได้รับ โดยให้ใช้เกณฑ์ดังนี้:
            คะแนน 90 ขึ้นไป: เกรด A
            คะแนน 80 - 89: เกรด B
            คะแนน 70 - 79: เกรด C
            คะแนน 60 - 69: เกรด D
            คะแนนต่ำกว่า 60: เกรด F
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 2: สูตรคูณแม่ 2-12
            เขียนโปรแกรมเพื่อแสดงสูตรคูณแม่ตั้งแต่ 2 ถึง 12 โดยใช้ลูป for หรือ while.</p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 3: การหาผลรวมและค่าเฉลี่ย
            เขียนโปรแกรมเพื่อรับจำนวนเต็มบวกจากผู้ใช้จนกว่าผู้ใช้จะป้อนค่า 0 และแสดงผลรวมและค่าเฉลี่ยของจำนวนที่ผู้ใช้ป้อนมา.
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 4: การหาจำนวนเลขคู่และเลขคี่

            เขียนโปรแกรมที่รับจำนวนเต็มบวกจากผู้ใช้ จนกว่าผู้ใช้จะป้อนค่า 0 และนับจำนวนเลขคู่และเลขคี่ที่ผู้ใช้ป้อนมา
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 5: การคำนวณค่าซ้ำหลายครั้ง (Looping)

            เขียนโปรแกรมที่ให้ผู้ใช้ป้อนคะแนนของนักเรียนหลายคน จากนั้นโปรแกรมควรจะคำนวณและแสดงค่าเฉลี่ยของคะแนนทั้งหมด
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 6: การหาตัวเลขที่มากที่สุด

            เขียนโปรแกรมที่ให้ผู้ใช้ป้อนตัวเลขจำนวนเต็มบวกตามต้องการ และโปรแกรมควรแสดงตัวเลขที่มากที่สุดที่ผู้ใช้ป้อนมา
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 7: การสร้างรูปสามเหลี่ยมด้วยเครื่องหมาย *

            เขียนโปรแกรมที่ให้ผู้ใช้ป้อนความสูงของรูปสามเหลี่ยมแล้วให้โปรแกรมแสดงรูปสามเหลี่ยมที่มีความสูงตามที่ผู้ใช้ป้อนมา โดยใช้เครื่องหมาย * ในการวาดรูป
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 8: การหาจำนวนเลขซ้ำ

            เขียนโปรแกรมที่ให้ผู้ใช้ป้อนจำนวนเต็มบวกตามต้องการ และโปรแกรมควรนับและแสดงจำนวนของตัวเลขที่ป้อนมาซ้ำกัน
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์ที่ 9: การบวกเมทริกซ์

            เขียนโปรแกรมที่รับข้อมูลเมทริกซ์ 2 มิติขนาดเท่ากันจากผู้ใช้ แล้วโปรแกรมควรทำการบวกเมทริกซ์เหล่านี้และแสดงผลลัพธ์
        </p>
    </div>
    <div class="p-3 border">
        <p>โจทย์: การหาตัวเลขเลขคู่ระหว่าง 1 ถึง n

            เขียนโปรแกรมที่รับจำนวนเต็มบวก n จากผู้ใช้ แล้วแสดงตัวเลขที่เป็นเลขคู่ตั้งแต่ 1 ถึง n
        </p>
    </div>
    <center class="p-5 "><a target="_blank" class="btn text-white" href="https://chat.openai.com/">เฉลยให้พิมพ์หาใน Chat GPT</a></center>
</div>