<%- include('navbar',{sessions:sessions}) %>
<style>
    .code-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: monospace;
    position: relative;
    color: #00ff00; /* Green text color */
  }

  .copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
</style>
<body>
    <div class="bg-dark text-white">
        <% for(var i=0;i < Bam.length;i++ ){%>
        <button onclick="openAnswer('btn'<%= i %>)" class="p-3 btn btn-outline-info shadow mt-2 w-100">
            <div>
                <p><%= Bam[i] %></p>
            </div>
        </button>
        <div class="code-container">
            <pre>
    <%= ss[0] %>
            </pre>
            <button class="copy-button" id="copy1" onclick="copyCode(1)">คัดลอกโค้ด</button>
          </div>
        <% } %>
        <center class="p-5 "><a target="_blank" class="btn text-white" href="https://chat.openai.com/">เฉลยให้พิมพ์หาใน Chat GPT</a></center>
    </div>


  <script>
    function openAnswer(id){
        let btn = document.getElementById('btn'+id);
        btn.addEventListener('click',()=>{

        })
    }
    function copyCode(id) {
      const codeContainer = document.querySelector('.code-container');
      const codeText = codeContainer.querySelector('pre').textContent;

      const textarea = document.createElement('textarea');
      textarea.value = codeText;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
      const btn = document.getElementById('copy'+id)
      btn.innerText = "คัดลอกสำเร็จ"}
  </script>  
</body>